* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --black: #121212;
  --white: #FFFFFF;
  --lightgray: #F6F6F6;
  --darkgray: #616161;
  --red: #FF3333;
  --h1: clamp(1.5rem, 0.7021rem + 2.5532vw, 3rem);
  --h2: clamp(1.5rem, 1.3005rem + 0.6383vw, 1.875rem);
  --h3: clamp(0.75rem, 0.484rem + 0.8511vw, 1.25rem);
  --p: clamp(1rem, 0.9335rem + 0.2128vw, 1.125rem);
  --a: clamp(0.75rem, 0.6835rem + 0.2128vw, 0.875rem);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2000;
}
.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 5%;
}
.header .flex img {
  height: 5rem;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: var(--p);
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s ease;
}
.header .navbar a:hover {
  color: var(--red);
}
.header #menu-btn {
  display: none;
  font-size: var(--h2);
  color: var(--black);
  cursor: pointer;
}

@media (max-width: 768px) and (min-width: 501px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
@media (max-width: 500px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
.cover {
  height: 100vh;
  padding: 5rem 5%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover3.jpg);
  background-position: center;
  background-size: cover;
}
.cover .cover-desc {
  text-align: center;
  padding: 12rem 3rem;
}
.cover .cover-desc h1 {
  width: 100%;
  color: var(--white);
  font-size: var(--h1);
  font-weight: 800;
  text-align: center;
}
.cover .cover-desc p {
  font-size: var(--p);
  color: var(--white);
}

@media (max-width: 500px) {
  .cover .cover-desc {
    padding: 10rem 0;
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 10%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover3.jpg);
  background-position: center;
  background-size: cover;
}
.about .about-img img {
  width: 20rem;
  border-radius: 10px;
}
.about .about-desc {
  margin-left: 2rem;
}
.about .about-desc p {
  font-size: var(--p);
  color: var(--white);
  margin: 0;
}
.about .about-desc b {
  color: var(--red);
}

@media (max-width: 800px) {
  .about {
    height: 100%;
    display: block;
    text-align: center;
    padding: 3rem 1rem;
  }
  .about .about-img img {
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 30px;
  }
  .about .about-desc {
    margin: 0;
  }
}
.footer {
  padding: 2rem 1rem;
}
.footer .footer-title {
  text-align: center;
}
.footer .footer-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  margin-bottom: 2rem;
}
.footer .footer-title b {
  color: var(--red);
  font-weight: 800;
}
.footer .footer-title ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0;
}
.footer .footer-title ul li {
  list-style: none;
  margin: 0 1rem;
}
.footer .footer-title ul a {
  font-size: var(--a);
  color: var(--black);
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.5s ease;
}
.footer .footer-title ul a:hover {
  color: var(--red);
}
.footer .footer-title ol {
  margin-bottom: 2rem;
  padding: 0;
}
.footer .footer-title ol a {
  margin: 0 1rem;
  color: var(--black);
  font-size: var(--p);
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.5s ease;
}
.footer .footer-title ol a:hover {
  color: var(--red);
}
.footer .footer-title p {
  font-size: var(--p);
}
.footer .footer-title a {
  font-size: var(--p);
  text-decoration: none;
  color: var(--black);
}

@media (max-width: 500px) {
  .footer .footer-title {
    text-align: center;
  }
  .footer .footer-title ul {
    display: block;
    line-height: 2rem;
  }
  .footer p {
    text-align: center;
  }
}