* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --white: #FFFFFF;
    --red: #FF3333;
    --brown: #996633;
    --gold: #FFCC66;
    --lightgold: #ffc65388;
    --lightgray: #F6F6F6;
    --gray: #778591;
    --darkgray: #616161;

    --h1: clamp(2.125rem, 1.6596rem + 1.4894vw, 3rem);
    --h2: clamp(1rem, 0.734rem + 0.8511vw, 1.5rem);
    --h3: clamp(2.125rem, 0.8617rem + 4.0426vw, 4.5rem);
    --p: clamp(0.75rem, 0.5505rem + 0.6383vw, 1.125rem);
    --a: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 2000;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0 5%;

        img {
            height: 5rem;
        }
    }

    .navbar {

        a {
            margin-left: 2rem;
            font-size: var(--a);
            color: var(--black);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            color: var(--red);
        }
    }

    #menu-btn {
        display: none;
        font-size: var(--h2);
        color: var(--black);
        cursor: pointer;
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .header {

        .flex {

            img {
                height: 5rem;
            }
        }

        .navbar {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--white);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: 0.5s ease;

            a {
                display: block;
                padding: 1rem 1rem;
            }
        }

        .navbar.active {
            top: 100%;
            display: block;
        }

        #menu-btn {
            display: inline-block;
            font-size: var(--p);
        }

        #menu-btn.fa-times {
            transform: rotate(180deg);
        }
    }
}

@media (max-width: 500px) {
    .header {

        .flex {

            img {
                height: 5rem;
            }
        }

        .navbar {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--white);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: 0.5s ease;

            a {
                display: block;
                padding: 1rem 1rem;
            }
        }

        .navbar.active {
            top: 100%;
            display: block;
        }

        #menu-btn {
            display: inline-block;
        }

        #menu-btn.fa-times {
            transform: rotate(180deg);
        }
    }
}

.cover {
    height: 100vh;
    padding: 5rem 5%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover3.jpg);
    background-position: center;
    background-size: cover;

    .cover-desc {
        text-align: center;
        padding: 12rem 3rem;

        h1 {
            width: 100%;
            color: var(--white);
            font-size: var(--h1);
            font-weight: 800;
            text-align: center;
        }

        p {
            font-size: var(--p);
            color: var(--white);
        }
    }
}

@media (max-width: 500px) {
    .cover {

        .cover-desc {
            padding: 10rem 0;
        }
    }
}

.about {
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about-img {

        img {
            width: 20rem;
            border-radius: 10px;
        }
    }

    .about-desc {
        margin-left: 2rem;

        h1 {
            font-size: var(--h1);
            font-weight: 800;
            color: var(--red);
        }

        p {
            font-size: var(--p);
            margin: 0;
        }

        b {
            color: var(--red);
        }
    }
}

@media (max-width: 800px) {
    .about {
        height: 100%;
        display: block;
        text-align: center;
        padding: 3rem 2rem;

        .about-img {

            img {
                width: 100%;
                margin-bottom: 2rem;
                border-radius: 30px;
            }
        }

        .about-desc {
            margin: 0;
        }
    }
}

.footer {
    background-color: var(--lightgray);
    padding: 2rem 1rem;

    .footer-title {
        text-align: center;

        h1 {
            font-size: var(--h1);
            font-weight: 800;
            color: var(--red);
            margin-bottom: 2rem;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            padding: 0;

            li {
                list-style: none;
                margin: 0 1rem;
            }

            a {
                font-size: var(--a);
                color: var(--black);
                text-transform: uppercase;
                text-decoration: underline;
                transition: 0.5s ease;
            }
            
            a:hover {
                color: var(--red);
            }
        }

        ol {
            margin-bottom: 2rem;
            padding: 0;

            a {
                margin: 0 1rem;
                color: var(--black);
                font-size: var(--p);
                text-transform: uppercase;
                text-decoration: underline;
                transition: 0.5s ease;
            }

            a:hover {
                color: var(--red);
            }
        }

        p {
            font-size: var(--a);
        }

        a {
            color: var(--red);
            text-decoration: none;
        }
    }
}

@media (max-width: 500px) {
    .footer {

        .footer-title {
            text-align: center;

            ul {
                display: block;
                line-height: 2rem;
            }
        }

        p {
            text-align: center;
        }
    }
}