@import url("header.css");
@import url("footer.css");
.cover {
  height: 100vh;
  padding: 5rem 5%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover3.jpg);
  background-position: center;
  background-size: cover;
}
.cover .cover-desc {
  text-align: center;
  padding: 12rem 3rem;
}
.cover .cover-desc h1 {
  width: 100%;
  color: var(--white);
  font-size: var(--h1);
  font-weight: 800;
  text-align: center;
}
.cover .cover-desc p {
  font-size: var(--p);
  color: var(--white);
}

@media (max-width: 500px) {
  .cover .cover-desc {
    padding: 10rem 0;
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 10%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover3.jpg);
  background-position: center;
  background-size: cover;
}
.about .about-img img {
  width: 20rem;
  border-radius: 10px;
}
.about .about-desc {
  margin-left: 2rem;
}
.about .about-desc h1 {
  font-size: var(--h2);
  color: var(--white);
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.about .about-desc p {
  font-size: var(--p);
  color: var(--white);
  margin: 0;
}

@media (max-width: 800px) {
  .about {
    height: 100%;
    display: block;
    text-align: center;
    padding: 3rem 1rem;
  }
  .about .about-img img {
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 30px;
  }
  .about .about-desc {
    margin: 0;
  }
}