.footer {
  padding: 2rem 1rem;
  background-color: var(--lightgray);
}
.footer .footer-title {
  text-align: center;
}
.footer .footer-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  margin-bottom: 2rem;
}
.footer .footer-title b {
  color: var(--red);
  font-weight: 800;
}
.footer .footer-title ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0;
}
.footer .footer-title ul li {
  list-style: none;
  margin: 0 1rem;
}
.footer .footer-title ul a {
  font-size: var(--a);
  color: var(--black);
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.5s ease;
}
.footer .footer-title ul a:hover {
  color: var(--red);
}
.footer .footer-title ol {
  margin-bottom: 2rem;
  padding: 0;
}
.footer .footer-title ol a {
  margin: 0 1rem;
  color: var(--black);
  font-size: var(--p);
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.5s ease;
}
.footer .footer-title ol a:hover {
  color: var(--red);
}
.footer .footer-title p {
  font-size: var(--p);
}
.footer .footer-title a {
  font-size: var(--p);
  text-decoration: none;
  color: var(--black);
}

@media (max-width: 500px) {
  .footer .footer-title {
    text-align: center;
  }
  .footer .footer-title ul {
    display: block;
    line-height: 2rem;
  }
  .footer p {
    text-align: center;
  }
}