@import url("header.css");
@import url("footer.css");
.cover {
  padding: 30vh 10%;
  text-align: center;
  background-image: linear-gradient(rgba(4, 9, 30, 0.47), rgba(4, 9, 30, 0.437)), url("/img/cover6.png");
  background-position: center;
  background-size: cover;
}
.cover h1 {
  font-size: var(--h1);
  font-weight: 600;
  color: var(--white);
}
.cover p {
  font-size: var(--p);
  font-weight: 500;
  color: var(--white);
}

.services {
  height: 100%;
  padding: 5rem 10%;
  background-color: var(--lightgray);
}
.services .services-title {
  text-align: center;
}
.services .services-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  text-transform: uppercase;
}
.services .services-title b {
  color: var(--red);
  font-weight: 800;
}
.services span {
  font-weight: 800;
}
.services .services-card {
  margin-top: 2rem;
}
.services .services-card .row .column {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.services .services-card .row .column .card {
  width: 25rem;
  padding: 1rem 1rem;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
.services .services-card .row .column .card h1 {
  font-size: var(--p);
  text-transform: uppercase;
  font-weight: 800;
}
.services .services-card .row .column .card img {
  width: 100%;
  height: 15rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.services .services-card .row .column .card img:hover {
  transform: scale(1.1);
}
.services .services-card .row .column .card p {
  margin: 2rem 1rem;
  font-size: var(--p);
  margin-bottom: 1rem;
}
.services .services-card .row .column .card a {
  padding: 1rem 1rem;
  text-decoration: underline;
  color: var(--black);
  font-weight: 500;
  text-transform: uppercase;
}
.services .services-card .row .btnLearn {
  text-align: center;
  margin-top: 2rem;
}
.services .services-card .row .btnLearn a {
  font-size: var(--a);
  background-color: var(--red);
  border-radius: 10px;
  padding: 12px 34px;
  text-decoration: none;
  color: var(--white);
  transition: 0.5s ease;
}
.services .services-card .row .btnLearn a:hover {
  background-color: var(--black);
}

@media (max-width: 800px) and (min-width: 501px) {
  .services {
    padding: 1rem 1rem;
  }
}
@media (max-width: 500px) {
  .services {
    height: 100%;
    padding: 2rem 5%;
  }
  .services .services-card {
    padding: 1rem 1rem;
  }
  .services .services-card .row {
    justify-content: center;
    align-items: center;
  }
  .services .services-card .row .column {
    display: contents;
  }
  .services .services-card .row .column .card h1 {
    margin-bottom: 1rem;
    text-align: center;
  }
  .services .services-card .row .column .card .h2 {
    display: none;
  }
  .services .services-card .row .column .card .p1 {
    display: none;
  }
  .services .services-card .row .column .card img {
    width: 100%;
  }
}