* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --white: #FFFFFF;
    --red: #FF3333;
    --brown: #996633;
    --gold: #FFCC66;
    --lightgray: #F6F6F6;
    --gray: #778591;
    --darkgray: #616161;

    --h1: clamp(2.25rem, 1.3125rem + 3vw, 3rem);
    --h2: clamp(0.875rem, -0.8438rem + 5.5vw, 2.25rem);
    --p: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
    --a: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 2000;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0 5%;

        img {
            height: 5rem;
        }
    }

    .navbar {

        a {
            margin-left: 2rem;
            font-size: var(--a);
            color: var(--black);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            color: var(--red);
        }
    }

    #menu-btn {
        display: none;
        font-size: var(--a);
        color: var(--black);
        cursor: pointer;
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .header {

        .flex {

            img {
                height: 5rem;
            }
        }

        .navbar {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--white);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: 0.5s ease;

            a {
                display: block;
                padding: 1rem 1rem;
            }
        }

        .navbar.active {
            top: 100%;
            display: block;
        }

        #menu-btn {
            display: inline-block;
        }

        #menu-btn.fa-times {
            transform: rotate(180deg);
        }
    }
}

@media (max-width: 500px) {
    .header {

        .flex {

            img {
                height: 5rem;
            }
        }

        .navbar {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--white);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: 0.5s ease;

            a {
                display: block;
                padding: 1rem 1rem;
            }
        }

        .navbar.active {
            top: 100%;
            display: block;
        }

        #menu-btn {
            display: inline-block;
        }

        #menu-btn.fa-times {
            transform: rotate(180deg);
        }
    }
}

.cover {
    padding: 5rem 5%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover.jpg);
    background-position: center;
    background-size: cover;

    .cover-desc {
        text-align: center;

        h1 {
            color: var(--white);
            font-size: var(--h1);
            font-weight: 800;
        }

        p {
            font-size: var(--p);
            color: var(--white);
            margin-bottom: 1.5rem;
        }

        a {
            padding: 12px 34px;
            border-radius: 5px;
            background-color: var(--red);
            color: var(--white);
            font-size: var(--a);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            background-color: var(--black);
        }
    }
}

@media (max-width: 600px) {
    .cover {
        height: 100vh;
        padding: 15rem 1rem;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5%;

    .about-img {

        img {
            width: 40rem;
        }
    }
    
    .about-desc {
        margin-left: 2rem;

        h1 {
            font-size: var(--h1);
            color: var(--black);
            font-weight: 800;
        }

        p {
            font-size: var(--p);
            color: var(--black);
            margin-bottom: 1.5rem;
        }

        a {
            font-size: var(--a);
            padding: 12px 34px;
            border-radius: 5px;
            background-color: var(--red);
            color: var(--white);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            background-color: var(--black);
        }
    }
}

@media (max-width: 800px) {
    .about {
        padding: 3rem 2rem;
        display: block;

        .about-img {
            
            img {
                width: 100%;
            }
        }

        .about-desc {
            margin: 2rem 0;
            text-align: center;
        }
    }
}

.history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightgray);
    padding: 3rem 5%;

    .history-img {

        img {
            width: 40rem;
        }
    }
    
    .history-desc {
        margin-left: 2rem;

        h1 {
            color: var(--black);
            font-size: var(--h1);
            font-weight: 800;
        }

        p {
            font-size: var(--p);
            color: var(--black);
            margin-bottom: 1.5rem;
        }

        a {
            padding: 12px 34px;
            border-radius: 5px;
            background-color: var(--red);
            color: var(--white);
            font-size: var(--a);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            background-color: var(--black);
        }
    }

    .order {
        order: -1;
    }
}

@media (max-width: 800px) {
    .history {
        padding: 3rem 2rem;
        display: block;

        .history-img {
            
            img {
                width: 100%;
            }
        }

        .history-desc {
            margin: 2rem 0;
            text-align: center;
        }

        .order {
            order: 1;
        }
    }
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 5%;

    .contact-img {

        img {
            width: 40rem;
        }
    }
    
    .contact-desc {
        margin-left: 2rem;

        h1 {
            color: var(--black);
            font-size: var(--h1);
            font-weight: 800;
        }

        .form-label {
            font-size: var(--a);
            margin: 1rem 0;
        }

        textarea {
            margin-bottom: 1.5rem;
        }

        .btn {
            padding: 12px 34px;
            border-radius: 5px;
            background-color: var(--red);
            color: var(--white);
            font-size: var(--a);
            text-decoration: none;
            transition: 0.5s ease;
        }

        .btn:hover {
            background-color: var(--black);
        }
    }
    
    .order {
        order: 1;
    }
}

@media (max-width: 800px) {
    .contact {
        padding: 3rem 2rem;
        display: block;

        .contact-img {
            
            img {
                width: 100%;
            }
        }

        .contact-desc {
            margin: 2rem 0;
            text-align: left;
        }

        .order {
            order: 1;
        }
    }
}

.footer {

    .footer-desc {

        .footer-about {
            height: 270px;
            padding: 2rem 3rem;
            background-color: var(--lightgray);
            display: flex;
            justify-content: center;
    
            p {
                color: var(--black);
                font-size: var(--a);
                line-height: 1.5rem;
                width: 25%;
            }
        }
    
        .footer-links {
            margin-left: 3rem;
    
            h1 {
                color: var(--black);
                font-weight: 700;
                font-size: var(--h2);
                text-transform: uppercase;
            }
    
            hr {
                width: 5rem;
            }
    
            a {
                text-decoration: none;
                color: var(--black);
                font-size: var(--a);
                display: block;
                line-height: 2rem;
                transition: 0.5s ease;
            }

            a:hover {
                font-weight: bolder;
            }
        }

        .footer-contact {
            margin-left: 3rem;

            h1 {
                color: var(--black);
                font-weight: 700;
                font-size: var(--h2);
                text-transform: uppercase;
            }
    
            hr {
                width: 5rem;
            }
    
            a {
                width: 20rem;
                text-decoration: none;
                color: var(--black);
                font-size: var(--a);
                display: block;
                line-height: 2rem;
                cursor: pointer;
                transition: 0.5s ease;
            }

            a:hover {
                font-weight: 800;
            }

            i {
                color: var(--black);
            }
        }

        .foot {
            display: flex;
            justify-content: space-around;
            background-color: var(--lightgray);
            padding: 1rem 1rem;

            p {
                color: var(--black);
                font-size: var(--a);
            }

            a {
                color: var(--black);
                font-weight: 800;
                text-decoration: none;
            }

            .social {

                a {
                    margin: 0 1rem;
                    font-size: var(--a);
                    color: var(--black);
                    transition: 0.5s ease;
                }

                a:hover {
                    font-weight: bolder;
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .footer {

        .footer-desc {

            .footer-about {
                padding: 2rem 1rem;
            }

            .footer-links {
                margin-left: 3rem;
            }

            .footer-contact {
                margin-left: 3rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {

        .footer-desc {

            .foot {
                display: block;
                text-align: center;
    
                p {
                    margin-bottom: 2rem;
                }
            }

            .footer-about {
                height: auto;
                display: block;
                padding: 1rem 1rem;

                p {
                    width: 100%;
                }
            }

            .footer-links {
                margin: 2rem 0;
            }

            .footer-contact {
                margin-left: 0;
                }
            }
        }
    }