* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: #FFFFFF;
  --red: #FF3333;
  --brown: #996633;
  --gold: #FFCC66;
  --lightgold: #ffc65388;
  --lightgray: #F6F6F6;
  --gray: #778591;
  --darkgray: #616161;
  --h1: clamp(2.125rem, 1.6596rem + 1.4894vw, 3rem);
  --h2: clamp(1.125rem, 1.0585rem + 0.2128vw, 1.25rem);
  --h3: clamp(2.125rem, 0.8617rem + 4.0426vw, 4.5rem);
  --p: clamp(1rem, 1rem + 0vw, 1rem);
  --a: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2000;
}
.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 5%;
}
.header .flex img {
  height: 5rem;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: var(--a);
  color: var(--black);
  text-decoration: none;
  transition: 0.5s ease;
}
.header .navbar a:hover {
  color: var(--red);
}
.header #menu-btn {
  display: none;
  font-size: var(--h2);
  color: var(--black);
  cursor: pointer;
}

@media (max-width: 768px) and (min-width: 501px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
@media (max-width: 500px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
.cover {
  height: 100vh;
  padding: 5rem 5%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover.jpg);
  background-position: center;
  background-size: cover;
}
.cover .cover-desc {
  text-align: center;
  padding: 12rem 0;
}
.cover .cover-desc h3 {
  width: 100%;
  color: var(--white);
  font-size: var(--h3);
  font-weight: 800;
  text-align: center;
}

.cover2 .cover-img {
  text-align: center;
}
.cover2 .cover-img img {
  width: 18.7rem;
  height: 20rem;
  border-radius: 10px;
  margin: 1rem 0;
}

@media (max-width: 800px) {
  .cover2 {
    padding: 3rem 0;
  }
  .cover2 .cover-img img {
    padding: 1rem 1rem;
    margin: 0;
  }
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.about .about-img img {
  width: 30rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.about .about-desc {
  margin-left: 2rem;
  line-height: 1rem;
}
.about .about-desc h1 {
  font-size: var(--h1);
  color: var(--black);
  font-weight: 800;
}
.about .about-desc li {
  text-align: left;
  font-size: var(--p);
}
.about .about-desc p {
  margin: 2rem 0;
}
.about .about-desc a {
  font-size: var(--a);
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
  transition: 0.5s ease;
}
.about .about-desc a:hover {
  background-color: var(--black);
}

@media (max-width: 800px) {
  .about {
    padding: 0 1rem;
    display: block;
  }
  .about .about-img img {
    width: 100%;
  }
  .about .about-desc {
    margin: 2rem 0;
    line-height: 20px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about .about-desc {
    line-height: 25px;
  }
  .about .about-desc li {
    padding: 0 1rem;
  }
}
.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightgray);
  padding: 3rem 5%;
}
.history .history-img img {
  width: 30rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.history .history-desc {
  margin: 0 1.5rem;
}
.history .history-desc h1 {
  color: var(--black);
  font-size: var(--h1);
  font-weight: 800;
}
.history .history-desc p {
  font-size: var(--p);
  color: var(--black);
  margin-bottom: 1.5rem;
}
.history .history-desc a {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--white);
  font-size: var(--a);
  text-decoration: none;
  transition: 0.5s ease;
}
.history .history-desc a:hover {
  background-color: var(--black);
}
.history .order {
  order: -1;
}

@media (max-width: 800px) {
  .history {
    padding: 3rem 1rem;
    display: block;
  }
  .history .history-img img {
    width: 100%;
  }
  .history .history-desc {
    margin: 2rem 0;
    text-align: center;
  }
  .history .history-desc h1 {
    margin-bottom: 1rem;
  }
  .history .order {
    order: 1;
  }
}
.project {
  height: 100vh;
  padding: 1rem 5%;
}
.project .project-title {
  text-align: center;
}
.project .project-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--red);
}
.project .project-title p {
  font-size: var(--p);
}
.project .project-card {
  margin-top: 2rem;
}
.project .project-card .row .column {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project .project-card .row .column .card {
  background: transparent;
  border: 0;
  margin: 0 1rem;
  text-align: center;
}
.project .project-card .row .column .card img {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.project .project-card .row .column .card h2 {
  font-size: var(--h2);
  margin-top: 1rem;
  font-weight: 800;
}
.project .project-card .row .column .card p {
  font-size: var(--p);
}
.project .project-card .row .column .card a {
  font-size: var(--a);
  background-color: var(--red);
  border-radius: 10px;
  padding: 12px 34px;
  text-decoration: none;
  color: var(--white);
  transition: 0.5s ease;
}
.project .project-card .row .column .card a:hover {
  background-color: var(--black);
}
.project .project-card .row .btnLearn {
  text-align: center;
  margin-top: 2rem;
}
.project .project-card .row .btnLearn a {
  font-size: var(--a);
  background-color: var(--red);
  border-radius: 10px;
  padding: 12px 34px;
  text-decoration: none;
  color: var(--white);
  transition: 0.5s ease;
}
.project .project-card .row .btnLearn a:hover {
  background-color: var(--black);
}

@media (max-width: 800px) and (min-width: 501px) {
  .project {
    padding: 1rem 1rem;
  }
}
@media (max-width: 500px) {
  .project {
    height: 100%;
    padding: 2rem 1rem;
  }
  .project .project-card {
    padding: 1rem 1rem;
  }
  .project .project-card .row {
    justify-content: center;
    align-items: center;
  }
  .project .project-card .row .column {
    display: contents;
  }
  .project .project-card .row .column .card {
    margin-bottom: 2rem;
  }
  .project .project-card .row .btnLearn {
    margin: 0;
  }
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lightgray);
  padding: 3rem 5%;
}
.contact .contact-img img {
  width: 40rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.contact .contact-desc {
  margin-left: 2rem;
}
.contact .contact-desc h1 {
  color: var(--black);
  font-size: var(--h1);
  font-weight: 800;
}
.contact .contact-desc .form-label {
  font-size: var(--p);
  margin: 1rem 0;
}
.contact .contact-desc textarea {
  margin-bottom: 1.5rem;
}
.contact .contact-desc .btn {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--white);
  font-size: var(--a);
  text-decoration: none;
  transition: 0.5s ease;
}
.contact .contact-desc .btn:hover {
  background-color: var(--black);
}
.contact .order {
  order: 1;
}

@media (max-width: 800px) {
  .contact {
    padding: 3rem 1rem;
    display: block;
  }
  .contact .contact-img img {
    width: 100%;
  }
  .contact .contact-desc {
    margin: 2rem 0;
    text-align: left;
  }
  .contact .order {
    order: 1;
  }
}
.footer {
  padding: 2rem 1rem;
}
.footer .footer-title {
  text-align: center;
}
.footer .footer-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--red);
  margin-bottom: 2rem;
}
.footer .footer-title ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0;
}
.footer .footer-title ul li {
  list-style: none;
  margin: 0 1rem;
}
.footer .footer-title ul a {
  font-size: var(--a);
  color: var(--black);
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.5s ease;
}
.footer .footer-title ul a:hover {
  color: var(--red);
}
.footer .footer-title ol {
  margin-bottom: 2rem;
  padding: 0;
}
.footer .footer-title ol a {
  margin: 0 1rem;
  color: var(--black);
  font-size: var(--p);
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.5s ease;
}
.footer .footer-title ol a:hover {
  color: var(--red);
}
.footer .footer-title p {
  font-size: var(--p);
}
.footer .footer-title a {
  color: var(--red);
  font-size: var(--p);
  text-decoration: none;
}

@media (max-width: 500px) {
  .footer .footer-title {
    text-align: center;
  }
  .footer .footer-title ul {
    display: block;
    line-height: 2rem;
  }
  .footer p {
    text-align: center;
  }
}